body{
    background-color: #E6E6E6;
    color:#101010;
}
.resume{
    width: 60%;
    margin:auto;
    padding: 1%;
    background-color: red;
    border-width: 2.5px;
    border-color: aqua;
    box-shadow: 5px 5px #e2e1e1;
}
hr{
    border-width: 3px;
    border-color: darkgrey;
}

p{
    margin-top: 0;
}
h4{
    margin-top: 0;
    margin-bottom: 0;
}